## Imports
import(tcltk) ## import all functionality
import(graph)
importFrom(graphics,plot)
import(methods)
importFrom(RBGL,kamadaKawaiSpringLayout,fruchtermanReingoldForceDirectedLayout)

## exports
	export(
		navGraph,
		completegraph,
		linegraph,
		newgraph,
		ng_2d_ggobi,
		ng_2d_myplot,
		ng_2d,
		ng_data,
		ng_graph,
		ng_image_array_gray,
		ng_image_files,
		ng_update,
		ng_walk,
		scagNav,
		scagGraph,
		scagEdgeWeights,
		plot,
               ng_get_color,
               ng_get_size
	)
#exportPattern("^ng_")

export(shortnames, "shortnames<-")
export(ng_get,"ng_set<-", ng_set)
export("ng_set_color<-")
export("ng_set_size<-")


## ng_graph
#export(plot)
##visualization
#exportClass(NG_Visualization, NG_Viz2DAxis)
#export(inititializeViz, updateViz, closeViz)
## scagGraph
#export(scagNav,scagGraph,scagEdgeWeights)

## Ggbobi stuff (old)
#importFrom(graph,edgeMatrix, ftM2graphNEL)
#importFrom(rggobi,ggobi,glyph_colour,displays.GGobi,close.GGobiDisplay,pmode,display,ggobi_gtk_main_window)
#importFrom(RGtk2, gtkToggleButtonSetActive)
